{% extends 'base.html' %}
{% block navhead %}
<button class="login-btn" onclick="window.location.href='/login'">Login</button>
<button class="signup-btn" onclick="window.location.href='/signup'">Sign Up</button>
{% endblock navhead %}

{% block planbutton %}
<button class="plan-btn" onclick="window.location.href='/signup'">Enroll in membership</button>
{% endblock planbutton %}

{% block planbutton2 %}
<button class="plan-btn" onclick="window.location.href='/signup'">Enroll in membership</button>
{% endblock planbutton2 %}

{% block planbutton3 %}
<button class="plan-btn" onclick="window.location.href='/signup'">Enroll in membership</button>
{% endblock planbutton3 %}